// /* .grid-container-results{
//     display: grid;
//     grid-template-columns: 1fr 4fr;
//     grid-template-rows: 0.1fr 4fr;
//     grid-template-areas: 
//         "title  ."
//         "results    results";
//     height: 70vh;
//     margin-left: 1em;
//     margin-right: 1em;
// }

// .title{
//     grid-area: title;
// }

// .results{
//     grid-area: results;
// }

// .grid-container-table{
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: 0.5fr 5fr;
//     grid-template-areas: 
//         "button button"
//         "table table";
//     height: 60vh;
//     margin: 0em;
// }

// .buttonSelection{
//     grid-area: button;
// }

// .table{
//     grid-area: table;
// }   */

// // SASS theme

// // variables
// $colors: (
//     primary: #574f7d,
//     primary-light: lighten(#574f7d, 40%),
//     primary-dark: darken(#574f7d, 40%),
//     accent: #7e0000,
//     text: #f5f5f5
// );

// $padding: 15px; 
// $borders: 15px;

// // fucntions
// @function color($color-name) {
//     @return map-get($colors, $color-name)
// }

// body{
//     #bg{
//         position: relative; 
//         display: flex;
//     }

//     #bg::before{
//         content: "";
//         background-image: url('../../../assets/textureCard.jpg');
//         background-size: cover;
//         position: absolute;
//         top: 0px;
//         right: 0px;
//         bottom: 0px;
//         left: 0px;
//         opacity: 0.25;  
//         filter: grayscale(100%);
//     }

//     #card{
//         display: grid;
//         margin-left: 1em;
//         margin-right: 1em;
//     }

//     h2 {
//         font-size: 1.5em;
//         font-weight: normal;
//         color: color(text);
//         margin: 0;
//       }
// }

// #grid-container-resTab{
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: 0fr 4fr;
//     grid-template-areas: 
//         "tab"
//         "panel";
//     margin: 0em;

//     #tab{
//         grid-area: tab;
//     }
    
//     #panel{
//         grid-area: panel;

//     }

// }

#resultsContainer{
    display: flex;
    flex-direction: row;
}

#header{
    display: flex;
    flex-direction: row;
}