.grid-container-schedule {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "roundInfo track";
    width: 100%;
    padding: 0em;
    margin-left: 1em;
    margin-right: 1em;
  }

.grid-container-round{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.5fr 1fr 1fr 1.5fr;
  grid-template-areas: 
  "greeting greeting"
  "date date"
  "country  flag"
  "raceName raceName";

}

.roundInfo{
    grid-area: roundInfo;
}

.greeting{
    grid-area: greeting;
    align-self: center;
  }

.date{
  grid-area: date;
  align-self: end;
  
}

.country{
  grid-area: country;
  align-self: center;
  
}

.flag{
  grid-area: flag;
  align-self: center;
  margin: 1em;
}

.img{
  width: 100%;
  max-width: 50px;
  height: auto;
}

.raceName{
  grid-area: raceName;
  align-self: start;
}

.track{
  grid-area: track;
  align-self: center;
  width: 100%;
  max-width: 200px;
  height: auto;
}

.bg{
    position: relative; 
    display: flex;
}

.bg::before{
  content: "";
  background-image: url('../../assets/textureCard.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;  
  filter: grayscale(100%);
}

.card{
  display: grid;
  margin: 1em;
}
