// SASS theme

// variables
$colors: (
    primary: #574f7d,
    primary-light: lighten(#574f7d, 40%),
    primary-dark: darken(#574f7d, 40%),
    accent: #7e0000,
    text: #f5f5f5
);

$padding: 15px; 
$borders: 15px;

// fucntions
@function color($color-name) {
    @return map-get($colors, $color-name)
}

body{
  // #bg{
  //   position: relative; 
  //   display: flex;
  // }

  // #bg::before{
  //   content: "";
  //   background-image: url('../../../assets/textureCard.jpg');
  //   background-size: cover;
  //   position: absolute;
  //   top: 0px;
  //   right: 0px;
  //   bottom: 0px;
  //   left: 0px;
  //   opacity: 0.25;  
  //   filter: grayscale(100%);
  // }

  #card{
    display: grid;
    margin: 1em;
  }

  h2{
    color: #f5f5f5;
    font-size: 1.5em;
    margin: 0;
  }

  #button{
    display: float;
    left: 0;

  }

  #flag{
    width: 100%;
    max-width: 50px;
    height: auto;
  }

  h2 {
    font-size: 1.5em;
    color: color(text);
    margin: 0;
  }

  #driverInfo{
    // margin-top: 1em;
    // margin-bottom: 1em;
    // padding-left: 1em;
    // padding-right: 1em;
    // background:  #00000032;
    display: grid;
    grid-template-columns: 0.5fr 4fr 2fr 1fr ;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 
    "pos   name   driver points"
    ".  teamName  driver flag"
    ;
    border: 0.3em;
    border-right-style: solid;
    border-top-style: solid;
    border-radius: 0em 1em 0em 1em;
    border-color: #000000;
    margin: 0.5em -0.5em 0em -0.5em;
    background-image: url('../../../assets/dotTexture.jpg');
    background-size: cover;
    padding: 0 0.5em 0 0.5em;

    h3 {
        font-size: 0.9em;
        font-weight: normal;
        color: color(text);
        margin: 0;
    }

    h4{
        font-size: 1.25em;
        font-weight: bold;
        color: color(text);
        margin: 0;
    }

    h5{
        font-size: 0.9em;
        font-weight: normal;
        color: color(text);
        margin: 0;
    }
    
    p {
        font-size: 0.9em;
        font-weight: normal;
        color: color(text);
        margin: 0;
    }
    
    #flag{
      width: 100%;
      max-height: 1.5em;
      max-width: 1.75em;
      height: auto;
      grid-area: flag;
      align-self: start;
      justify-self: start;
     // transform: rotate(90deg);
      grid-area: flag;
      padding: 0.5em;
    }

    #name{
      grid-area: name;
      margin: 0;
      align-self: center;
      padding-left: 0.5em;
    }

    #pos{
      grid-area: pos;
      align-self: center;
    }

    #number{
      grid-area: number;
      
    }

    #points{
      grid-area: points;
      align-self: start;
      justify-self: end;
    }

    #teamName{
      grid-area: teamName;
      padding-left: 0.5em;
    }

    #teamLogo{
      grid-area: teamLogo;
      
      #teamColor{
        background-color: #7e0000;
        height: 10px;
        width: 10px;
        margin: 0;
      }
    }

    #driver{
      grid-area: driver;
      align-self: end;
      
      #icon{
        width: 100%;
        max-width: 100px;
        height: auto;
        grid-area: dImg;
        margin-right: 0.5em;
      }
    }
  }
}
