// SASS theme

*{
 margin: 0;
}

// variables
$colors: (
    primary: #574f7d,
    primary-light: lighten(#574f7d, 40%),
    primary-dark: darken(#574f7d, 40%),
    accent: #7e0000,
    text: #f5f5f5,
);

// get color
@function color($color-name) {
    @return map-get($colors, $color-name)
}

html,
body{
  height: 100%;
}

body{
    background: color(primary);
    font-family: 'Orbitron';
  
  // #card{
  //   display: grid;
  //   //margin: 1em;
  //   align-content: start;
  // }
}

header{
  width: 100%;
}

//App
.main-container{
  //display: grid;
  //grid-gap: 0em;
  //grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
  //padding: 0 1em 0 1em;
  //max-width: 100vh;
  //margin: 0 auto;

  #standings{
    width: 100%;
    height: auto;
    //max-width: 60vh;
  }
  #schedule{
    width: 100%;
    height: auto;
    min-height: 25vh;
  }
  #results{
    width: 100%;
    height: auto;
    //max-width: 60vh;
  }
}

//Nav
#toolbar{
  height: 0.5em;

  #logo{
    width: 100%;
    max-width: 4em;
    height: auto;
  }
}

//Schedule Card
#info{
  display: flex;
  flex-direction: row;
  align-content: end;
  background-image: url('../assets/textures/textureSchedule.jpg');
  background-size: cover;
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 1em;

  h1 {
    font-size: 1.5rem;
    color: color(text);
    margin: 0;
  }

  h2 {
    font-size: 1.25em;
    font-weight: bold;
    color: color(text);
    margin: 0;
  }

  h3 {
    font-size: 0.9rem;
    font-weight: bold;
    color: color(text);
    margin: 0;
  }

  p{
    font-size: 0.8rem;
    font-weight: lighter;
    color: color(text);
    margin: 0;
  }

  #race-info {
    align-content: center;
    padding: 1em 0 1em 0;
    display: flex;
    flex-direction: column;
    padding: 1em;

    #country-info{
      display: flex;
      flex-direction: row;

      #flag {
        width: 2em;
        height: 1.5em;
        border-width: 0.05em;
        border-color: color(text);
        border-radius: 0.5em;
        border-style: solid;
        align-self: center;
        margin: 0 0.5em 0 0.5em;
      }
    }

    #track{
      width: 100px;
      height: 100px;
      grid-area: track;
    }
  }
} 

section#results{
  display: flex;
  width: 100%;
  height: auto;
}

.rc-tabs {
  border: none !important;
  
}
.rc-tabs-tab {
  padding: 0em;
  text-transform: capitalize;
  
}
.rc-tabs-tab-btn {
  font-size: 0.6em;
  background: #222222!important;
  border: 0;
  color: #f5f5f5;
}

.rc-tabs-tab-active {
  color: #f5f5f5!important
}

.rc-tabs-ink-bar {
  background: #574f7d!important;
  border-radius: 0.5em; 
}
.rc-tabs-content-holder {
  padding: 10px;
}
.rc-tabs-content {
}

.rc-tabs-nav-more{
  border: 0!important;
  background: #222222!important;
  font-family: 'Orbitron';
  font-size: 0.7em;
  color: color(text);
}

#raceDetail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em 0 1em 0;

  h5{
    font-size: 1em;
    font-weight: bold;
    color: color(text);
    margin: 0;
  }
}

//Results
#resultsTable{
  //display: grid;
  width: 100%;
  height: auto;
  //margin: auto;
}

.MuiTablePagination-caption{
  font-size: 0.6em!important;
  font-family: 'Orbitron'!important;
}

.MuiTablePagination-toolbar{

}

// @media (min-width: 550px){
//   #results{
//     grid-column: auto / results;
//   }
// }