// SASS theme

// variables
$colors: (
    primary: #574f7d,
    primary-light: lighten(#574f7d, 40%),
    primary-dark: darken(#574f7d, 40%),
    accent: #7e0000,
    text: #f5f5f5,
);

// get color
@function color($color-name) {
    @return map-get($colors, $color-name)
}

html,
body{
  height: 100%;
}

body{
    background: color(primary);
    font-family: 'Orbitron';
  
  #card{
    display: grid;
    margin: 1em;

    #bg{
      position: relative; 
      display: flex;
    }
  
    #bg::before{
      content: "";
      background-image: url('../assets/textures/textureCard.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.25;  
      z-index: -1;
      filter: grayscale(100%);
    }
  } 
}

//App
.main-container{
  #standings{
    width: 100%;
    height: auto;
    max-width: 60vh;
  }
  #schedule{
    width: 100%;
    height: auto;
    max-width: 60vh;
  }
}

//Nav
#toolbar{
  background: rgb(0,0,0);
  background: rgba(0, 0, 0, 0.219);
  height: 1em;

  #logo{
    width: 100%;
    max-width: 4em;
    height: auto;
  }
}

//Schedule Card
#info{
  h1 {
    font-size: 2em;
    color: color(text);
    margin: 0;
  }
  h2 {
    font-size: 1.25em;
    font-weight: bold;
    color: color(text);
    margin: 0;
  }
  h3 {
    font-size: 1em;
    font-weight: bold;
    color: color(text);
    margin: 0;
  }

  p{
    font-size: 0.8em;
    font-weight: lighter;
    color: color(text);
    margin: 0;
  }

  #img {
    width: 2.5em;
    height: 1.5em;
    border-radius: 0.5em;
    align-self: center;
    margin-left: 0.5em;
  }

  #country-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 0fr;
    grid-template-areas: 
    "date    date"
    "country track"
    "raceInfo track"
    ;
    justify-content: space-between;
    align-content: center;
    min-height: 19vh;
  }
  #country {
    align-self: center;
    display: flex;
    flex-direction: row;
    grid-area: country;
  }

  #track{
    width: 100%;
    height: auto;
    grid-area: track;
    align-self: center;
  }

  #date{
    grid-area: date;
    align-self: end;
  }

  #raceInfo{
    grid-area: raceInfo;
  }
} 

section#results{
  display: flex;
  width: 100%;
  height: auto;
}

.rc-tabs {
  border: none !important;
}
.rc-tabs-tab {
  padding: 0em;
  text-transform: capitalize;
  
}
.rc-tabs-tab-btn {
  font-size: 0.7em;
  background: #6b6392!important;
  border: 0;
  color: #f5f5f5;
}

.rc-tabs-tab-active {
}

.rc-tabs-ink-bar {
  background: #574f7d!important;
}
.rc-tabs-content-holder {
  padding: 10px;
}
.rc-tabs-content {
}

.rc-tabs-nav-more{
  border: 0!important;
  background: #6b6392!important;
  font-family: 'Orbitron';
  font-size: 0.7em;
  color: color(text);
}

.rc-tabs-nav-measure{
  border: none!important;
}