html,
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif,;
  background: white;
  margin: 0;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 4fr;
  grid-template-areas: 
    "nav        nav"
    "schedule   standings"
    "results    standings"
    "driver     driver";
  height: 100vh;
  margin: 0em;
}

.schedule{
  grid-area: schedule;
}

header{
  grid-area: nav;
}

.results{
  grid-area: results;
}

.standings{
  grid-area: standings;
  /* background: green; */
}

.drivers{
  grid-area: driver;
  /* background: yellow; */
}
